.title-align {
  margin: 0;
  text-align: center;
}

.gradient-background {
  background: linear-gradient(300deg, #f38181, #fce38a, #eaffd0);
  background-size: 180% 180%;
  height: 700px;
  animation: gradient-animation 18s ease infinite;
}
.gradient-background-footer {
  background: linear-gradient(100deg, #95e1d3, #fce38a, #eaffd0);
  background-size: 180% 180%;
  height: 350px;
  animation: gradient-animation 18s ease infinite;
}

.red {
  background-color: #f38181;
}

.yellow {
  background-color: #fce38a;
}

.green {
  background-color: #eaffd0;
}

.blue {
  background-color: #95e1d3;
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.carousel-inner {
  width: 640px;
  height: 640px;
  /* margin: auto; */
}

.top-container {
  padding: 250px;
}
.title-text > h1 {
  font-size: 5.5rem;
  font-weight: bolder;
}

.title-text > h3 {
  font-family: "Caveat", cursive;
  font-size: 2.5rem;
  font-weight: lighter;
}
